<%= simple_form_for ([@event, @attendee]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t(".Back"), event_attendees_path(@event), :class => "btn"%>
  </div>
<% end %>
