<p id="notice"><%= notice %></p>

<p>
<strong><%= t(".Name") %></strong>
  <%= @event.name %>
</p>

<p>
<strong><%= t(".Description") %></strong>
  <%= @event.description %>
</p>

<p>
<strong><%= t(".Start at")%></strong>
  <%= @event.start_at %>
</p>
<%= link_to t(".Attendees list"), event_attendees_path(@event)%> | 
<%= link_to t(".Edit"), edit_event_path(@event) %> |
<%= link_to t(".Back"), events_path %>
